.Home {
  width: 100%;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.swiper {
  width: 77%;
  height: 450px;
  padding-bottom: 40px;
  margin-left: 0;
}

.swiper-slide {
  width: 100%;
  height: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slid-img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
  font-size: 16px;
  color: #da002b;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #da002b;
}

@media (max-width: 1024px) {
  .swiper {
    width: 100%;
  }
}