.Navbar {
  /* position: relative; */
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Navbar-top {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  background: #da002b;
}

.Navbar-responsive {
  display: none;
}

.Nav-btns {
  display: flex;
  align-items: center;
}

.Nav-btns > ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.Nav-map {
  color: white;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-left: 40px;
}

.Nav-btn1 {
  padding: 4px 10px;
  height: 32px;
  cursor: pointer;
  color: #da002b;
  background: white;
  border: 2px solid white;
  border-radius: 10px;

  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.Nav-btn1:hover {
  color: white;
  background: transparent;
  transition: 0.5s background;
}

.Nav-btn2,
.Nav-btn3 {
  cursor: pointer;
  padding: 4px 10px;
  color: white;
  background: #da002b;
  border: 2px solid white;
  border-radius: 10px;

  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.Nav-number {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.Nav-number:hover,
.Nav-map:hover {
  opacity: 80%;
  transition: 0.8s opacity;
}

.Nav-btn3 {
  padding: 8px 10px;
}

.Nav-btn2:hover,
.Nav-btn3:hover {
  color: #da002b;
  background: white;
  transition: 0.5s background;
}

.Nav-contact {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 80px;
}

.Nav-languages {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid #e54c6a;
}

.Nav-language-btn {
  color: #eda8c0;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
}

.Nav-language-btn:hover,
.Nav-language-btn:focus {
  color: white;
}

.Navbar-bottom {
  width: 100%;
  padding: 28px 24px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Nav-bottom-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.Logo-link {
  display: flex;
  align-items: center;
}

.Logo {
  width: 102px;
  height: 30px;
}

.Nav-katalog {
  display: flex;
  gap: 50px;
  /* border: 1px solid black; */
}

.Nav-katalog-btn {
  cursor: pointer;
  padding: 10px 27px 10px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: white;
  border: 2px solid black;
  border-radius: 10px;

  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.Nav-katalog-btn:checked ~ #None {
  display: block;
}

.Nav-katalog-btn:hover {
  border: 2px solid #da002b;
}

.Nav-katalog-btn:hover .Nav-katalog-line {
  color: #da002b;
}

.Nav-katalog-btn:hover > p {
  color: #da002b;
}

.Nav-katalog-line {
  font-size: 25px;
}

.Nav-search {
  width: 43%;
  height: 44px;
  display: flex;
  text-decoration: none;
  /* margin-left: -30px; */
  /* border: 1px solid black; */
}

.search-input {
  width: 88%;
  height: 100%;
  padding: 11px 24px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  background: #f2f2f2;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-input::placeholder {
  color: #99b0cc;
}

#None {
  display: none;
  width: 100%;
  height: 100px;
  position: absolute;
  /* top: 0; */
  bottom: -100px;
  /* background: black; */
  left: 0;
  color: red;
  z-index: 1000;
  border: 1px solid black;
}

.search-btn {
  cursor: pointer;
  width: 12%;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #da002b;
  font-size: 24px;
  color: white;
}

.Nav-icons {
  /* width: 330px; */
  /* height: 56px; */
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
  margin-left: 35px;
}

.Nav-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 9px;

  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.Nav-icon3 {
  position: relative;
}

.Nav-registion {
  color: black;
  text-decoration: none;
}

.Nav-icon-svg {
  font-size: 24px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  vertical-align: middle;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 0.75rem;
}

.Nav-icon:hover {
  cursor: pointer;
  color: #da002b;
  transition: 0.5s color;
}

@media (min-width: 100px) and (max-width: 1024px) {
  .Navbar-responsive {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
  }

  .Nav-top-res {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Nav-top-res-left {
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
  }

  .logo-res {
    width: 36px;
    height: 36px;
    border-radius: 10px;
  }

  .Nav-res-text {
    display: flex;
    row-gap: 3px;
    flex-direction: column;
  }

  .Nav-res-text > h1 {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
  }

  .Nav-res-text > p {
    font-family: Raleway, sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #111111;
  }

  .Nav-top-res > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .Nav-top-res > a > button {
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    background: #da002b;

    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .Nav-middle-res {
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 15px;
  }

  .Nav-middle-res-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo2-res {
    width: 102px;
    height: 30px;
  }

  .Nav-middle-phone-btn {
    border: none;
    background: none;
    font-size: 20px;
  }

  .Nav-languages-btn {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: none;
  }

  .lang-btns-res {
    display: none;
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }

  .Nav-bottom-res {
    width: 100%;
    padding: 28px 1px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: space-between; */
  }

  .Nav-res-katalog {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-radius: 12px;
    border: 2px solid black;
    background: none;
  }

  .Nav-res-label {
    width: 100%;
    padding: 10px 12px 10px 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
    border-radius: 12px;
    background: #f2f2f2;
  }

  .Nav-res-search-btn {
    font-size: 20px;
    color: #99b0cc;
  }

  .Nav-res-label > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .Nav-res-label > a input {
    width: 100%;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: none;
  }
}

@media (max-width: 1024px) {
  .Navbar {
    display: none;
  }
}

@media (max-width: 1200px) {
  .Nav-btn3 {
    display: none;
  }
}
