.Carts {
  width: 100%;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.Carts-btns {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* row-gap: 30px; */
}

.cart-img-png {
  width: 63px;
}

.Carts-btns > h1 {
  font-family: Raleway, sans-serif;
  font-size: 42px;
  font-weight: 600;
}

.Carts-btns > p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.cart-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cart-link > button {
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid #c40027;
  color: white;
  background: #c40027;

  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.cart-link > button:hover {
  color: #c40027;
  background: transparent;
  transition: 0.2s background;
}

.cart-link > button:active {
  color: white;
  background: #c40027;
}
